body {
    text-align: center;
    font-size:30px;
    background-color: #57F7FF;
}

h1 {
    text-align: center;
    color:red;
    margin:0;
}

button {
    font-size: 20px;
    background-color: black;
    color:red;
    border-radius: 10px;
}

#highScores {
    float:left;
    border: 5px solid black;
}

table {
    text-align: center;
    margin-left: 22px;
    color: black;
}

#box {
    background-color: rgb(255,172,138);
    border:1px solid red;
    height: 709px;
    width:709px;
    padding:0;
    margin-left: 270px;
    margin-right: 250px;
    position: absolute;
    cursor: url(/whack-a-mole/img/pulse.png), auto;
}

.gameover {
    border:none;
    text-align: center;
    font-weight: bold;
    color:red;
    font-size: 100px;
    height: 710px;
    padding:0;
    margin-left: 350px;
    margin-right: 250px;
    position: absolute;
}

div {
    border:1px solid red;
    height: 234px;
    width: 234px;
    position:relative;
    float:left;
}
.left-middle, .left-bottom {
    clear:left;
}

.mole {
    display:none;
}



